body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
 }
 #hoho{
    background: none;
    color:#ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.2s;
    cursor: pointer;
 }
 #hoho:hover{
    border-color: #7C00FE;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #7C00FE;
    transform: translateY(-5px);
 }
 #hoho:active{
    border-color: #6000c7;
    color: white;
    box-shadow: none;
    transform: translateY(-2px);
 }
